In [1]:
import tensorflow as tf

In [2]:
from tensorflow import keras

In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"C:\Users\KIIT\Documents\Downloads\gender_classifier.csv",encoding=('ISO-8859-1'))

In [5]:
df2=pd.read_csv(r"C:\Users\KIIT\Documents\Downloads\gender_classifier.csv",encoding=('ISO-8859-1'))
df3=pd.read_csv(r"C:\Users\KIIT\Documents\Downloads\gender_classifier.csv",encoding=('ISO-8859-1'))

In [6]:
df.head(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,3/11/10 18:14,...,https://pbs.twimg.com/profile_images/656336865...,0,0,"Ive seen people on the train with lamps, chair...",NaN,20036,10/26/15 12:40,6.587300e+17,New York Gritty,Central Time (US & Canada)
6,815719232,False,finalized,3,10/27/15 1:57,brand,1.0000,yes,1.0,4/24/08 13:03,...,https://pbs.twimg.com/profile_images/528547133...,0,0,@BpackEngineer Thank you for your patience whi...,NaN,13354,10/26/15 12:40,6.587300e+17,Worldwide,Eastern Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,12/3/12 21:54,...,https://pbs.twimg.com/profile_images/508875440...,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,NaN,112117,10/26/15 12:40,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,9/8/15 4:50,...,https://pbs.twimg.com/profile_images/658670112...,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,NaN,482,10/26/15 12:40,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,https://pbs.twimg.com/profile_images/513327289...,0,FFFFFF,@Evielady just how lovely is the tree this yea...,NaN,26085,10/26/15 12:40,6.587300e+17,"Nottingham, England.",Amsterdam

In [7]:
df.groupby(['gender']).count()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender:confidence,profile_yn,profile_yn:confidence,created,description,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
gender,,,,,,,,,,,,,,,,,,,,,
brand,5942,5942,5942,5942,5928,5942,5942,5942,5942,4328,...,5942,5942,5942,5942,79,5942,5942,5942,3248,3156
female,6700,6700,6700,6700,6685,6700,6700,6700,6700,5725,...,6700,6700,6700,6700,37,6700,6700,6700,4278,4353
male,6194,6194,6194,6194,6173,6194,6194,6194,6194,5469,...,6194,6194,6194,6194,41,6194,6194,6194,4469,4144
unknown,1117,1117,1117,1117,1117,1117,1117,1117,1117,702,...,1117,1117,1117,1117,2,1117,1117,1117,516,532

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  gender_gold            50 non-null     object
 13  link_color             20050 non-null  object
 14  name                   20050 non-null  object
 15  profile_yn_gold        50 non-null     object
 16  profileimage           20050 non-null  object
 17  retweet_count          20050 non-null  int64
 18  sidebar_color          20050 non-null  object
 19  text                   20050 non-null  object
 20  tweet_coord            159 non-null    object
 21  tweet_count            20050 non-null  int64
 22  tweet_created          20050 non-null  object
 23  tweet_id               20050 non-null  float64
 24  tweet_location         12566 non-null  object
 25  user_timezone          12252 non-null  object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

In [9]:
df.drop('gender_gold',axis=1,inplace=True)

In [10]:
df.head(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,3/11/10 18:14,...,https://pbs.twimg.com/profile_images/656336865...,0,0,"Ive seen people on the train with lamps, chair...",NaN,20036,10/26/15 12:40,6.587300e+17,New York Gritty,Central Time (US & Canada)
6,815719232,False,finalized,3,10/27/15 1:57,brand,1.0000,yes,1.0,4/24/08 13:03,...,https://pbs.twimg.com/profile_images/528547133...,0,0,@BpackEngineer Thank you for your patience whi...,NaN,13354,10/26/15 12:40,6.587300e+17,Worldwide,Eastern Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,12/3/12 21:54,...,https://pbs.twimg.com/profile_images/508875440...,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,NaN,112117,10/26/15 12:40,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,9/8/15 4:50,...,https://pbs.twimg.com/profile_images/658670112...,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,NaN,482,10/26/15 12:40,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,https://pbs.twimg.com/profile_images/513327289...,0,FFFFFF,@Evielady just how lovely is the tree this yea...,NaN,26085,10/26/15 12:40,6.587300e+17,"Nottingham, England.",Amsterdam

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  link_color             20050 non-null  object
 13  name                   20050 non-null  object
 14  profile_yn_gold        50 non-null     object
 15  profileimage           20050 non-null  object
 16  retweet_count          20050 non-null  int64
 17  sidebar_color          20050 non-null  object
 18  text                   20050 non-null  object
 19  tweet_coord            159 non-null    object
 20  tweet_count            20050 non-null  int64
 21  tweet_created          20050 non-null  object
 22  tweet_id               20050 non-null  float64
 23  tweet_location         12566 non-null  object
 24  user_timezone          12252 non-null  object
dtypes: bool(1), float64(3), int64(5), object(16)
memory usage: 3.7+ MB

In [12]:
df['description'].head(10)

0                                i sing my own rhythm.
1    I'm the author of novels filled with family dr...
2                  louis whining and squealing and all
3    Mobile guy.  49ers, Shazam, Google, Kleiner Pe...
4    Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...
5                                   you don't know me.
6    A global marketplace for images, videos and mu...
7      The secret of getting ahead is getting started.
8           Pll Fan // Crazy about MCD // Ramen is bae
9    Renaissance art historian, University of Notti...
Name: description, dtype: object

In [13]:
df['tweet_coord'].head(10)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: tweet_coord, dtype: object

In [14]:
df['tweet_coord'].isnull()

0        True
1        True
2        True
3        True
4        True
         ...
20045    True
20046    True
20047    True
20048    True
20049    True
Name: tweet_coord, Length: 20050, dtype: bool

In [15]:
df.drop('tweet_coord',axis=1,inplace=True)

In [16]:
df.head(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,NaN,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,NaN,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,NaN,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,NaN,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,NaN,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,3/11/10 18:14,...,NaN,https://pbs.twimg.com/profile_images/656336865...,0,0,"Ive seen people on the train with lamps, chair...",20036,10/26/15 12:40,6.587300e+17,New York Gritty,Central Time (US & Canada)
6,815719232,False,finalized,3,10/27/15 1:57,brand,1.0000,yes,1.0,4/24/08 13:03,...,NaN,https://pbs.twimg.com/profile_images/528547133...,0,0,@BpackEngineer Thank you for your patience whi...,13354,10/26/15 12:40,6.587300e+17,Worldwide,Eastern Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,12/3/12 21:54,...,NaN,https://pbs.twimg.com/profile_images/508875440...,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,10/26/15 12:40,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,9/8/15 4:50,...,NaN,https://pbs.twimg.com/profile_images/658670112...,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,10/26/15 12:40,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,NaN,https://pbs.twimg.com/profile_images/513327289...,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,10/26/15 12:40,6.587300e+17,"Nottingham, England.",Amsterdam

In [17]:
df.corr()['gender']

KeyError: 'gender'

In [18]:
df[df['gender']=='male'].index

Int64Index([    0,     1,     2,     3,     7,    17,    18,    23,    24,
               29,
            ...
            20023, 20026, 20027, 20031, 20032, 20037, 20040, 20043, 20046,
            20047],
           dtype='int64', length=6194)

In [19]:
df.drop(df[df['gender']!='male' or df['gender']!='female'].index,inplace=False)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
df.drop(df[df['gender']=='brand'].index,inplace=True)

In [21]:
df.head(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,NaN,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,NaN,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,NaN,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,NaN,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,NaN,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,3/11/10 18:14,...,NaN,https://pbs.twimg.com/profile_images/656336865...,0,0,"Ive seen people on the train with lamps, chair...",20036,10/26/15 12:40,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,12/3/12 21:54,...,NaN,https://pbs.twimg.com/profile_images/508875440...,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,10/26/15 12:40,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,9/8/15 4:50,...,NaN,https://pbs.twimg.com/profile_images/658670112...,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,10/26/15 12:40,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,NaN,https://pbs.twimg.com/profile_images/513327289...,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,10/26/15 12:40,6.587300e+17,"Nottingham, England.",Amsterdam
12,815719238,False,finalized,3,10/26/15 22:20,female,0.6509,yes,1.0,8/10/12 5:05,...,NaN,https://pbs.twimg.com/profile_images/651227967...,0,FFFFFF,Just put my ass on the line for you and this i...,13585,10/26/15 12:40,6.587300e+17,NaN,Atlantic Time (Canada)

In [22]:
df['gender'].values

array(['male', 'male', 'male', ..., 'male', 'female', 'female'],
      dtype=object)

In [23]:
df['gender'].shape[0]

14108

In [24]:
if df['gender'].values[0] == 'male':
    print('true')

true

In [25]:
df[df['gender']!='brand'].head(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,NaN,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,NaN,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,NaN,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,NaN,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,NaN,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,3/11/10 18:14,...,NaN,https://pbs.twimg.com/profile_images/656336865...,0,0,"Ive seen people on the train with lamps, chair...",20036,10/26/15 12:40,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,12/3/12 21:54,...,NaN,https://pbs.twimg.com/profile_images/508875440...,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,10/26/15 12:40,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,9/8/15 4:50,...,NaN,https://pbs.twimg.com/profile_images/658670112...,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,10/26/15 12:40,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,NaN,https://pbs.twimg.com/profile_images/513327289...,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,10/26/15 12:40,6.587300e+17,"Nottingham, England.",Amsterdam
12,815719238,False,finalized,3,10/26/15 22:20,female,0.6509,yes,1.0,8/10/12 5:05,...,NaN,https://pbs.twimg.com/profile_images/651227967...,0,FFFFFF,Just put my ass on the line for you and this i...,13585,10/26/15 12:40,6.587300e+17,NaN,Atlantic Time (Canada)

In [26]:
df.drop(df[df['gender']=='unknown'].index,inplace=True)

In [27]:
df.head(30)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,NaN,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,NaN,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,NaN,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,NaN,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,NaN,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,3/11/10 18:14,...,NaN,https://pbs.twimg.com/profile_images/656336865...,0,0,"Ive seen people on the train with lamps, chair...",20036,10/26/15 12:40,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,12/3/12 21:54,...,NaN,https://pbs.twimg.com/profile_images/508875440...,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,10/26/15 12:40,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,9/8/15 4:50,...,NaN,https://pbs.twimg.com/profile_images/658670112...,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,10/26/15 12:40,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,NaN,https://pbs.twimg.com/profile_images/513327289...,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,10/26/15 12:40,6.587300e+17,"Nottingham, England.",Amsterdam
12,815719238,False,finalized,3,10/26/15 22:20,female,0.6509,yes,1.0,8/10/12 5:05,...,NaN,https://pbs.twimg.com/profile_images/651227967...,0,FFFFFF,Just put my ass on the line for you and this i...,13585,10/26/15 12:40,6.587300e+17,NaN,Atlantic Time (Canada)
14,815719240,False,finalized,3,10/27/15 1:29,female,0.6501,yes,1.0,4/6/13 15:31,...,NaN,https://pbs.twimg.com/profile_images/655943646...,0,FFFFFF,will i even need sound effects for the diviner...,18469,10/26/15 12:40,6.587300e+17,row b seat 104,Atlantic Time (Canada)
15,815719241,False,finalized,3,10/27/15 1:50,female,1.0000,yes,1.0,10/3/15 21:32,...,NaN,https://pbs.twimg.com/profile_images/650530183...,0,C0DEED,https://t.co/EROGWTFTYo It's a glow of satisfa...,44421,10/26/15 12:40,6.587300e+17,NaN,NaN
16,815719242,False,finalized,3,10/26/15 23:43,female,1.0000,yes,1.0,8/27/11 9:42,...,NaN,https://pbs.twimg.com/profile_images/625025152...,0,EEEEEE,@giannaaa28 lmao _Ù÷â_Ù÷â dude I'm hella scare...,16627,10/26/15 12:40,6.587300e+17,NaN,Arizona
17,815719243,False,finalized,3,10/26/15 22:50,male,1.0000,yes,1.0,10/18/09 11:41,...,NaN,https://pbs.twimg.com/profile_images/613850179...,0,C0DEED,@coolyazzy94 Ditto - I'm still learning the fa...,91,10/26/15 12:40,6.587300e+17,Glasgow,London
18,815719244,False,finalized,3,10/27/15 1:42,male,1.0000,yes,1.0,7/20/15 12:01,...,NaN,https://pbs.twimg.com/profile_images/623207306...,0,C0DEED,@CaribBros @JstSaleem I do but I don't underst...,13,10/26/15 12:40,6.587300e+17,NaN,NaN
20,815719246,False,finalized,3,10/27/15 1:21,female,1.0000,yes,1.0,2/28/13 3:04,...,NaN,https://pbs.twimg.com/profile_images/550660983...,0,0,@CraftYear2015 @isabelpascual thank you for th...,10271,10/26/15 12:40,6.587300e+17,"St. John's, Newfoundland",NaN
21,815719247,False,finalized,3,10/27/15 0:09,female,1.0000,yes,1.0,10/14/11 17:53,...,NaN,https://pbs.twimg.com/profile_images/653367929...,0,65B0DA,All the girls went to sleep and the guys just ...,13452,10/26/15 12:40,6.587300e+17,Port-au-Prince,Arizona
22,815719248,False,finalized,3,10/26/15 22:47,female,1.0000,yes,1.0,2/15/15 6:41,...,NaN,https://pbs.twimg.com/profile_images/654390129...,0,C0DEED,@ChrisAOfficial I'm on the right side_Ù÷âÏÎ_Ù...,408,10/26/15 12:40,6.587300e+17,NaN,NaN
23,815719249,False,finalized,3,10/27/15 1:34,male,1.0000,yes,1.0,1/11/13 1:18,...,NaN,https://pbs.twimg.com/profile_images/648334542...,0,C0DEED,"YALL LMFAOO RIGHT WHEN THE CHORUS CAME ON, A T...",2219,10/26/15 12:40,6.587300e+17,"Tampa, FL",London
24,815719250,False,finalized,3,10/26/15 23:01,male,1.0000,yes,1.0,4/21/11 12:21,...,NaN,https://pbs.twimg.com/profile_images/588820454...,0,C0DEED,James Bond premier night at the @Everymancinem...,3370,10/26/15 12:40,6.587300e+17,University of Surrey,Amsterdam
25,815719251,False,finalized,3,10/26/15 22:54,female,1.0000,yes,1.0,8/14/13 12:54,...,NaN,https://pbs.twimg.com/profile_images/645403816...,0,C0DEED,@SydnieJR except once the Hallmark movies star...,97,10/26/15 12:40,6.587300e+17,"Edmond, OK",NaN
28,815719254,False,finalized,3,10/26/15 23:31,female,1.0000,yes,1.0,7/13/10 12:55,...,NaN,https://pbs.twimg.com/profile_images/638386044...,0,EEA525,You leave the group chat for more than 2 mins ...,61166,10/26/15 12:40,6.587300e+17,NaN,Central Time (US & Canada)
29,815719255,False,finalized,3,10/27/15 1:46,male,0.3353,yes,1.0,3/24/14 2:57,...,NaN,https://pbs.twimg.com/profile_images/657449209...,0,FFFFFF,As opposed to Pump where it's like HI HOPE YOU...,55751,10/26/15 12:40,6.587300e+17,Icon? Aogiri Penta.,Pacific Time (US & Canada)
31,815719257,False,finalized,3,10/26/15 23:12,male,1.0000,yes,1.0,12/5/12 6:18,...,NaN,https://pbs.twimg.com/profile_images/363652832...,0,FFFFFF,All the #magic in Hath No FURY is based on REA...,25773,10/26/15 12:40,6.587300e+17,Princeton,Eastern Time (US & Canada)
32,815719258,False,finalized,3,10/27/15 0:47,female,1.0000,yes,1.0,12/28/11 15:36,...,NaN,https://pbs.twimg.com/profile_images/658129218...,0,FFFFFF,Me the week of Brandon's birthday: there's no ...,4965,10/26/15 12:40,6.587300e+17,"Algonac & Mt. Pleasant, MI",Eastern Time (US & Canada)
33,815719259,False,finalized,3,10/27/15 0:17,male,1.0000,yes,1.0,11/26/11 15:08,...,NaN,https://pbs.twimg.com/profile_images/596744881...,0,C0DEED,And got more yards AND points than the Jets ga...,69698,10/26/15 12:40,6.587300e+17,Brittany's Mouth or Panties,Mountain Time (US & Canada)
35,815719261,False,finalized,3,10/27/15 1:50,male,1.0000,yes,1.0,5/20/11 1:59,...,NaN,https://pbs.twimg.com/profile_images/656370495...,0,FFFFFF,Did Alot Up In The Past Ion Wont Back,30294,10/26/15 12:40,6.587300e+17,Dazhane's ªÁ,Hawaii
37,815719263,False,finalized,3,10/26/15 23:51,female,1.0000,yes,1.0,4/23/09 9:34,...,NaN,https://pbs.twimg.com/profile_images/630609261...,0,DBE9ED,This boy was on the El wit his 3 daughters and...,58876,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
39,815719265,False,finalized,3,10/26/15 22:35,male,1.0000,yes,1.0,5/17/09 21:05,...,NaN,https://pbs.twimg.com/profile_images/474393325...,0,FFFFFF,@TheRiddler109 @CNN I mean it's not like Mains...,8843,10/26/15 12:40,6.587300e+17,Maven: Severed,Eastern Time (US & Canada)
41,815719267,False,finalized,3,10/26/15 23:31,male,1.0000,yes,1.0,6/17/09 18:09,...,NaN,https://pbs.twimg.com/profile_images/468090201...,0,BDDCAD,How many followers do you get everyday? I got ...,28078,10/26/15 12:40,6.587300e+17,Venezuela,Caracas

In [28]:
df.shape

(12991, 24)

In [29]:
df.groupby(['gender']).count()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender:confidence,profile_yn,profile_yn:confidence,created,description,...,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
gender,,,,,,,,,,,,,,,,,,,,,
female,6700,6700,6700,6700,6685,6700,6700,6700,6700,5725,...,15,6700,6700,6700,6700,6700,6700,6700,4278,4353
male,6194,6194,6194,6194,6173,6194,6194,6194,6194,5469,...,21,6194,6194,6194,6194,6194,6194,6194,4469,4144

In [30]:
df.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,NaN,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,NaN,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,NaN,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,NaN,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,NaN,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,31462,10/26/15 12:40,6.587300e+17,NaN,NaN

In [31]:
df['_unit_state'].unique()

array(['finalized', 'golden'], dtype=object)

In [32]:
df.groupby(['_unit_state']).count()

,_unit_id,_golden,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,description,...,profile_yn_gold,profileimage,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
_unit_state,,,,,,,,,,,,,,,,,,,,,
finalized,12955,12955,12955,12955,12858,12929,12955,12955,12955,11244,...,0,12955,12955,12955,12955,12955,12955,12955,8780,8545
golden,36,36,36,0,36,36,36,36,36,32,...,36,36,36,36,36,36,36,36,22,19

In [33]:
df.drop(['profileimage'],axis=1,inplace=True)

In [34]:
df.head(10)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,name,profile_yn_gold,retweet_count,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,sheezy0,NaN,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,DavdBurnett,NaN,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,lwtprettylaugh,NaN,1,C0DEED,i absolutely adore when louis starts the songs...,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,douggarland,NaN,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,WilfordGemma,NaN,0,0,Watching Neighbours on Sky+ catching up with t...,31462,10/26/15 12:40,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,3/11/10 18:14,...,monroevicious,NaN,0,0,"Ive seen people on the train with lamps, chair...",20036,10/26/15 12:40,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,12/3/12 21:54,...,RobinMeske,NaN,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,10/26/15 12:40,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,9/8/15 4:50,...,pigzilla_,NaN,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,10/26/15 12:40,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,GabrieleNeher,NaN,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,10/26/15 12:40,6.587300e+17,"Nottingham, England.",Amsterdam
12,815719238,False,finalized,3,10/26/15 22:20,female,0.6509,yes,1.0,8/10/12 5:05,...,kaylanabrewer_,NaN,0,FFFFFF,Just put my ass on the line for you and this i...,13585,10/26/15 12:40,6.587300e+17,NaN,Atlantic Time (Canada)

In [35]:
df.groupby(['retweet_count']).count()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,link_color,name,profile_yn_gold,sidebar_color,text,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
retweet_count,,,,,,,,,,,,,,,,,,,,,
0,12592,12592,12592,12592,12557,12497,12566,12592,12592,12592,...,12592,12592,35,12592,12592,12592,12592,12592,8507,8268
1,328,328,328,328,327,327,328,328,328,328,...,328,328,1,328,328,328,328,328,240,232
2,35,35,35,35,35,35,35,35,35,35,...,35,35,0,35,35,35,35,35,26,32
3,8,8,8,8,8,8,8,8,8,8,...,8,8,0,8,8,8,8,8,7,6
4,2,2,2,2,2,2,2,2,2,2,...,2,2,0,2,2,2,2,2,1,1
5,3,3,3,3,3,3,3,3,3,3,...,3,3,0,3,3,3,3,3,2,3
6,8,8,8,8,8,8,8,8,8,8,...,8,8,0,8,8,8,8,8,7,8
7,2,2,2,2,2,2,2,2,2,2,...,2,2,0,2,2,2,2,2,2,1
8,2,2,2,2,2,2,2,2,2,2,...,2,2,0,2,2,2,2,2,2,2
9,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
10,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
11,3,3,3,3,3,2,3,3,3,3,...,3,3,0,3,3,3,3,3,2,3
20,2,2,2,2,2,2,2,2,2,2,...,2,2,0,2,2,2,2,2,2,2
23,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,0,1
36,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,0,1
49,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1
153,1,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,1,1,1,1

In [36]:
df.dtypes

_unit_id                   int64
_golden                     bool
_unit_state               object
_trusted_judgments         int64
_last_judgment_at         object
gender                    object
gender:confidence        float64
profile_yn                object
profile_yn:confidence    float64
created                   object
description               object
fav_number                 int64
link_color                object
name                      object
profile_yn_gold           object
retweet_count              int64
sidebar_color             object
text                      object
tweet_count                int64
tweet_created             object
tweet_id                 float64
tweet_location            object
user_timezone             object
dtype: object

In [37]:
df.drop(['tweet_created'],axis=1,inplace=True)

In [38]:
df.shape

(12991, 22)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               12991 non-null  int64
 1   _golden                12991 non-null  bool
 2   _unit_state            12991 non-null  object
 3   _trusted_judgments     12991 non-null  int64
 4   _last_judgment_at      12955 non-null  object
 5   gender                 12894 non-null  object
 6   gender:confidence      12965 non-null  float64
 7   profile_yn             12991 non-null  object
 8   profile_yn:confidence  12991 non-null  float64
 9   created                12991 non-null  object
 10  description            11276 non-null  object
 11  fav_number             12991 non-null  int64
 12  link_color             12991 non-null  object
 13  name                   12991 non-null  object
 14  profile_yn_gold        36 non-null     object
 15  retweet_count          12991 non-null  int64
 16  sidebar_color          12991 non-null  object
 17  text                   12991 non-null  object
 18  tweet_count            12991 non-null  int64
 19  tweet_id               12991 non-null  float64
 20  tweet_location         8802 non-null   object
 21  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(5), object(13)
memory usage: 2.2+ MB

In [40]:
df['profile_yn_gold'].unique()

array([nan, 'yes'], dtype=object)

In [41]:
df.drop(['profile_yn_gold'],axis=1,inplace=True)

In [42]:
df.shape

(12991, 21)

In [43]:
df.drop(['_last_judgment_at'],axis=1,inplace=True)

In [44]:
df.shape

(12991, 20)

In [45]:
df.drop(['description'],axis=1,inplace=True)

In [46]:
df.shape

(12991, 19)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               12991 non-null  int64
 1   _golden                12991 non-null  bool
 2   _unit_state            12991 non-null  object
 3   _trusted_judgments     12991 non-null  int64
 4   gender                 12894 non-null  object
 5   gender:confidence      12965 non-null  float64
 6   profile_yn             12991 non-null  object
 7   profile_yn:confidence  12991 non-null  float64
 8   created                12991 non-null  object
 9   fav_number             12991 non-null  int64
 10  link_color             12991 non-null  object
 11  name                   12991 non-null  object
 12  retweet_count          12991 non-null  int64
 13  sidebar_color          12991 non-null  object
 14  text                   12991 non-null  object
 15  tweet_count            12991 non-null  int64
 16  tweet_id               12991 non-null  float64
 17  tweet_location         8802 non-null   object
 18  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(5), object(10)
memory usage: 1.9+ MB

In [48]:
df.groupby(['gender']).count()

,_unit_id,_golden,_unit_state,_trusted_judgments,gender:confidence,profile_yn,profile_yn:confidence,created,fav_number,link_color,name,retweet_count,sidebar_color,text,tweet_count,tweet_id,tweet_location,user_timezone
gender,,,,,,,,,,,,,,,,,,
female,6700,6700,6700,6700,6700,6700,6700,6700,6700,6700,6700,6700,6700,6700,6700,6700,4278,4353
male,6194,6194,6194,6194,6194,6194,6194,6194,6194,6194,6194,6194,6194,6194,6194,6194,4469,4144

In [49]:
df['gender'] = df['gender'].fillna('male')

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               12991 non-null  int64
 1   _golden                12991 non-null  bool
 2   _unit_state            12991 non-null  object
 3   _trusted_judgments     12991 non-null  int64
 4   gender                 12991 non-null  object
 5   gender:confidence      12965 non-null  float64
 6   profile_yn             12991 non-null  object
 7   profile_yn:confidence  12991 non-null  float64
 8   created                12991 non-null  object
 9   fav_number             12991 non-null  int64
 10  link_color             12991 non-null  object
 11  name                   12991 non-null  object
 12  retweet_count          12991 non-null  int64
 13  sidebar_color          12991 non-null  object
 14  text                   12991 non-null  object
 15  tweet_count            12991 non-null  int64
 16  tweet_id               12991 non-null  float64
 17  tweet_location         8802 non-null   object
 18  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(5), object(10)
memory usage: 1.9+ MB

In [51]:
df['gender:confidence'].values[0]

1.0

In [52]:
df['gender:confidence'].mean()

0.9111364751253374

In [53]:
avg=df['gender:confidence'].mean()
print(avg)
avg_round=round(avg,4)
print(avg_round)

0.9111364751253374
0.9111

In [54]:
avg_round

0.9111

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               12991 non-null  int64
 1   _golden                12991 non-null  bool
 2   _unit_state            12991 non-null  object
 3   _trusted_judgments     12991 non-null  int64
 4   gender                 12991 non-null  object
 5   gender:confidence      12965 non-null  float64
 6   profile_yn             12991 non-null  object
 7   profile_yn:confidence  12991 non-null  float64
 8   created                12991 non-null  object
 9   fav_number             12991 non-null  int64
 10  link_color             12991 non-null  object
 11  name                   12991 non-null  object
 12  retweet_count          12991 non-null  int64
 13  sidebar_color          12991 non-null  object
 14  text                   12991 non-null  object
 15  tweet_count            12991 non-null  int64
 16  tweet_id               12991 non-null  float64
 17  tweet_location         8802 non-null   object
 18  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(5), object(10)
memory usage: 1.9+ MB

In [56]:
df.head(20)

,_unit_id,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,created,fav_number,link_color,name,retweet_count,sidebar_color,text,tweet_count,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,male,1.0000,yes,1.0,12/5/13 1:48,0,08C2C2,sheezy0,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,male,1.0000,yes,1.0,10/1/12 13:51,68,0084B4,DavdBurnett,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,male,0.6625,yes,1.0,11/28/14 11:30,7696,ABB8C2,lwtprettylaugh,1,C0DEED,i absolutely adore when louis starts the songs...,5617,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,male,1.0000,yes,1.0,6/11/09 22:39,202,0084B4,douggarland,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,female,1.0000,yes,1.0,4/16/14 13:23,37318,3B94D9,WilfordGemma,0,0,Watching Neighbours on Sky+ catching up with t...,31462,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,female,1.0000,yes,1.0,3/11/10 18:14,3901,F5ABB5,monroevicious,0,0,"Ive seen people on the train with lamps, chair...",20036,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,815719233,False,finalized,3,male,1.0000,yes,1.0,12/3/12 21:54,80,0000FF,RobinMeske,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,female,1.0000,yes,1.0,9/8/15 4:50,1825,9266CC,pigzilla_,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,female,1.0000,yes,1.0,5/13/11 3:32,3115,9266CC,GabrieleNeher,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,6.587300e+17,"Nottingham, England.",Amsterdam
12,815719238,False,finalized,3,female,0.6509,yes,1.0,8/10/12 5:05,3371,0084B4,kaylanabrewer_,0,FFFFFF,Just put my ass on the line for you and this i...,13585,6.587300e+17,NaN,Atlantic Time (Canada)
14,815719240,False,finalized,3,female,0.6501,yes,1.0,4/6/13 15:31,13928,0084B4,cheyflan,0,FFFFFF,will i even need sound effects for the diviner...,18469,6.587300e+17,row b seat 104,Atlantic Time (Canada)
15,815719241,False,finalized,3,female,1.0000,yes,1.0,10/3/15 21:32,0,0084B4,Ayu7sith4,0,C0DEED,https://t.co/EROGWTFTYo It's a glow of satisfa...,44421,6.587300e+17,NaN,NaN
16,815719242,False,finalized,3,female,1.0000,yes,1.0,8/27/11 9:42,1762,58185,Toucaan_Samm,0,EEEEEE,@giannaaa28 lmao _Ù÷â_Ù÷â dude I'm hella scare...,16627,6.587300e+17,NaN,Arizona
17,815719243,False,finalized,3,male,1.0000,yes,1.0,10/18/09 11:41,5,0084B4,SSmyth2010,0,C0DEED,@coolyazzy94 Ditto - I'm still learning the fa...,91,6.587300e+17,Glasgow,London
18,815719244,False,finalized,3,male,1.0000,yes,1.0,7/20/15 12:01,1,0084B4,DarkToonsGaming,0,C0DEED,@CaribBros @JstSaleem I do but I don't underst...,13,6.587300e+17,NaN,NaN
20,815719246,False,finalized,3,female,1.0000,yes,1.0,2/28/13 3:04,18751,3B94D9,jlpeter37,0,0,@CraftYear2015 @isabelpascual thank you for th...,10271,6.587300e+17,"St. John's, Newfoundland",NaN
21,815719247,False,finalized,3,female,1.0000,yes,1.0,10/14/11 17:53,5454,D41EBF,SarahMaddry,0,65B0DA,All the girls went to sleep and the guys just ...,13452,6.587300e+17,Port-au-Prince,Arizona
22,815719248,False,finalized,3,female,1.0000,yes,1.0,2/15/15 6:41,133,0084B4,bethleia,0,C0DEED,@ChrisAOfficial I'm on the right side_Ù÷âÏÎ_Ù...,408,6.587300e+17,NaN,NaN
23,815719249,False,finalized,3,male,1.0000,yes,1.0,1/11/13 1:18,2871,3B94D9,StrictlyAri,0,C0DEED,"YALL LMFAOO RIGHT WHEN THE CHORUS CAME ON, A T...",2219,6.587300e+17,"Tampa, FL",London
24,815719250,False,finalized,3,male,1.0000,yes,1.0,4/21/11 12:21,228,0084B4,JHurkett,0,C0DEED,James Bond premier night at the @Everymancinem...,3370,6.587300e+17,University of Surrey,Amsterdam

In [57]:
df["gender:confidence"].replace({"avg_round":avg_round}, inplace=True)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               12991 non-null  int64
 1   _golden                12991 non-null  bool
 2   _unit_state            12991 non-null  object
 3   _trusted_judgments     12991 non-null  int64
 4   gender                 12991 non-null  object
 5   gender:confidence      12965 non-null  float64
 6   profile_yn             12991 non-null  object
 7   profile_yn:confidence  12991 non-null  float64
 8   created                12991 non-null  object
 9   fav_number             12991 non-null  int64
 10  link_color             12991 non-null  object
 11  name                   12991 non-null  object
 12  retweet_count          12991 non-null  int64
 13  sidebar_color          12991 non-null  object
 14  text                   12991 non-null  object
 15  tweet_count            12991 non-null  int64
 16  tweet_id               12991 non-null  float64
 17  tweet_location         8802 non-null   object
 18  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(5), object(10)
memory usage: 1.9+ MB

In [59]:
df.head(20)

,_unit_id,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,created,fav_number,link_color,name,retweet_count,sidebar_color,text,tweet_count,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,male,1.0000,yes,1.0,12/5/13 1:48,0,08C2C2,sheezy0,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,male,1.0000,yes,1.0,10/1/12 13:51,68,0084B4,DavdBurnett,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,male,0.6625,yes,1.0,11/28/14 11:30,7696,ABB8C2,lwtprettylaugh,1,C0DEED,i absolutely adore when louis starts the songs...,5617,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,male,1.0000,yes,1.0,6/11/09 22:39,202,0084B4,douggarland,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,female,1.0000,yes,1.0,4/16/14 13:23,37318,3B94D9,WilfordGemma,0,0,Watching Neighbours on Sky+ catching up with t...,31462,6.587300e+17,NaN,NaN
5,815719231,False,finalized,3,female,1.0000,yes,1.0,3/11/10 18:14,3901,F5ABB5,monroevicious,0,0,"Ive seen people on the train with lamps, chair...",20036,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,815719233,False,finalized,3,male,1.0000,yes,1.0,12/3/12 21:54,80,0000FF,RobinMeske,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,6.587300e+17,NaN,NaN
8,815719234,False,finalized,3,female,1.0000,yes,1.0,9/8/15 4:50,1825,9266CC,pigzilla_,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,6.587300e+17,NaN,NaN
9,815719235,False,finalized,3,female,1.0000,yes,1.0,5/13/11 3:32,3115,9266CC,GabrieleNeher,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,6.587300e+17,"Nottingham, England.",Amsterdam
12,815719238,False,finalized,3,female,0.6509,yes,1.0,8/10/12 5:05,3371,0084B4,kaylanabrewer_,0,FFFFFF,Just put my ass on the line for you and this i...,13585,6.587300e+17,NaN,Atlantic Time (Canada)
14,815719240,False,finalized,3,female,0.6501,yes,1.0,4/6/13 15:31,13928,0084B4,cheyflan,0,FFFFFF,will i even need sound effects for the diviner...,18469,6.587300e+17,row b seat 104,Atlantic Time (Canada)
15,815719241,False,finalized,3,female,1.0000,yes,1.0,10/3/15 21:32,0,0084B4,Ayu7sith4,0,C0DEED,https://t.co/EROGWTFTYo It's a glow of satisfa...,44421,6.587300e+17,NaN,NaN
16,815719242,False,finalized,3,female,1.0000,yes,1.0,8/27/11 9:42,1762,58185,Toucaan_Samm,0,EEEEEE,@giannaaa28 lmao _Ù÷â_Ù÷â dude I'm hella scare...,16627,6.587300e+17,NaN,Arizona
17,815719243,False,finalized,3,male,1.0000,yes,1.0,10/18/09 11:41,5,0084B4,SSmyth2010,0,C0DEED,@coolyazzy94 Ditto - I'm still learning the fa...,91,6.587300e+17,Glasgow,London
18,815719244,False,finalized,3,male,1.0000,yes,1.0,7/20/15 12:01,1,0084B4,DarkToonsGaming,0,C0DEED,@CaribBros @JstSaleem I do but I don't underst...,13,6.587300e+17,NaN,NaN
20,815719246,False,finalized,3,female,1.0000,yes,1.0,2/28/13 3:04,18751,3B94D9,jlpeter37,0,0,@CraftYear2015 @isabelpascual thank you for th...,10271,6.587300e+17,"St. John's, Newfoundland",NaN
21,815719247,False,finalized,3,female,1.0000,yes,1.0,10/14/11 17:53,5454,D41EBF,SarahMaddry,0,65B0DA,All the girls went to sleep and the guys just ...,13452,6.587300e+17,Port-au-Prince,Arizona
22,815719248,False,finalized,3,female,1.0000,yes,1.0,2/15/15 6:41,133,0084B4,bethleia,0,C0DEED,@ChrisAOfficial I'm on the right side_Ù÷âÏÎ_Ù...,408,6.587300e+17,NaN,NaN
23,815719249,False,finalized,3,male,1.0000,yes,1.0,1/11/13 1:18,2871,3B94D9,StrictlyAri,0,C0DEED,"YALL LMFAOO RIGHT WHEN THE CHORUS CAME ON, A T...",2219,6.587300e+17,"Tampa, FL",London
24,815719250,False,finalized,3,male,1.0000,yes,1.0,4/21/11 12:21,228,0084B4,JHurkett,0,C0DEED,James Bond premier night at the @Everymancinem...,3370,6.587300e+17,University of Surrey,Amsterdam

In [60]:
df['tweet_location'].value_counts()

London                          98
Los Angeles, CA                 51
United States                   49
UK                              45
London, England                 36
                                ..
126                              1
22 FLÏöüOH                    1
okotoks ab.                      1
Death City or Angel's Domain     1
Trap'House                       1
Name: tweet_location, Length: 6100, dtype: int64

In [61]:
df['tweet_location'] = df['tweet_location'].fillna('London')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               12991 non-null  int64
 1   _golden                12991 non-null  bool
 2   _unit_state            12991 non-null  object
 3   _trusted_judgments     12991 non-null  int64
 4   gender                 12991 non-null  object
 5   gender:confidence      12965 non-null  float64
 6   profile_yn             12991 non-null  object
 7   profile_yn:confidence  12991 non-null  float64
 8   created                12991 non-null  object
 9   fav_number             12991 non-null  int64
 10  link_color             12991 non-null  object
 11  name                   12991 non-null  object
 12  retweet_count          12991 non-null  int64
 13  sidebar_color          12991 non-null  object
 14  text                   12991 non-null  object
 15  tweet_count            12991 non-null  int64
 16  tweet_id               12991 non-null  float64
 17  tweet_location         12991 non-null  object
 18  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(5), object(10)
memory usage: 1.9+ MB

In [63]:
df.drop(['_unit_id'],axis=1,inplace=True)

In [64]:
df.head(20)

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,created,fav_number,link_color,name,retweet_count,sidebar_color,text,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,12/5/13 1:48,0,08C2C2,sheezy0,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,10/1/12 13:51,68,0084B4,DavdBurnett,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,6.587300e+17,London,Eastern Time (US & Canada)
2,False,finalized,3,male,0.6625,yes,1.0,11/28/14 11:30,7696,ABB8C2,lwtprettylaugh,1,C0DEED,i absolutely adore when louis starts the songs...,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,6/11/09 22:39,202,0084B4,douggarland,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,False,finalized,3,female,1.0000,yes,1.0,4/16/14 13:23,37318,3B94D9,WilfordGemma,0,0,Watching Neighbours on Sky+ catching up with t...,31462,6.587300e+17,London,NaN
5,False,finalized,3,female,1.0000,yes,1.0,3/11/10 18:14,3901,F5ABB5,monroevicious,0,0,"Ive seen people on the train with lamps, chair...",20036,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,False,finalized,3,male,1.0000,yes,1.0,12/3/12 21:54,80,0000FF,RobinMeske,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,6.587300e+17,London,NaN
8,False,finalized,3,female,1.0000,yes,1.0,9/8/15 4:50,1825,9266CC,pigzilla_,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,6.587300e+17,London,NaN
9,False,finalized,3,female,1.0000,yes,1.0,5/13/11 3:32,3115,9266CC,GabrieleNeher,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,6.587300e+17,"Nottingham, England.",Amsterdam
12,False,finalized,3,female,0.6509,yes,1.0,8/10/12 5:05,3371,0084B4,kaylanabrewer_,0,FFFFFF,Just put my ass on the line for you and this i...,13585,6.587300e+17,London,Atlantic Time (Canada)
14,False,finalized,3,female,0.6501,yes,1.0,4/6/13 15:31,13928,0084B4,cheyflan,0,FFFFFF,will i even need sound effects for the diviner...,18469,6.587300e+17,row b seat 104,Atlantic Time (Canada)
15,False,finalized,3,female,1.0000,yes,1.0,10/3/15 21:32,0,0084B4,Ayu7sith4,0,C0DEED,https://t.co/EROGWTFTYo It's a glow of satisfa...,44421,6.587300e+17,London,NaN
16,False,finalized,3,female,1.0000,yes,1.0,8/27/11 9:42,1762,58185,Toucaan_Samm,0,EEEEEE,@giannaaa28 lmao _Ù÷â_Ù÷â dude I'm hella scare...,16627,6.587300e+17,London,Arizona
17,False,finalized,3,male,1.0000,yes,1.0,10/18/09 11:41,5,0084B4,SSmyth2010,0,C0DEED,@coolyazzy94 Ditto - I'm still learning the fa...,91,6.587300e+17,Glasgow,London
18,False,finalized,3,male,1.0000,yes,1.0,7/20/15 12:01,1,0084B4,DarkToonsGaming,0,C0DEED,@CaribBros @JstSaleem I do but I don't underst...,13,6.587300e+17,London,NaN
20,False,finalized,3,female,1.0000,yes,1.0,2/28/13 3:04,18751,3B94D9,jlpeter37,0,0,@CraftYear2015 @isabelpascual thank you for th...,10271,6.587300e+17,"St. John's, Newfoundland",NaN
21,False,finalized,3,female,1.0000,yes,1.0,10/14/11 17:53,5454,D41EBF,SarahMaddry,0,65B0DA,All the girls went to sleep and the guys just ...,13452,6.587300e+17,Port-au-Prince,Arizona
22,False,finalized,3,female,1.0000,yes,1.0,2/15/15 6:41,133,0084B4,bethleia,0,C0DEED,@ChrisAOfficial I'm on the right side_Ù÷âÏÎ_Ù...,408,6.587300e+17,London,NaN
23,False,finalized,3,male,1.0000,yes,1.0,1/11/13 1:18,2871,3B94D9,StrictlyAri,0,C0DEED,"YALL LMFAOO RIGHT WHEN THE CHORUS CAME ON, A T...",2219,6.587300e+17,"Tampa, FL",London
24,False,finalized,3,male,1.0000,yes,1.0,4/21/11 12:21,228,0084B4,JHurkett,0,C0DEED,James Bond premier night at the @Everymancinem...,3370,6.587300e+17,University of Surrey,Amsterdam

In [65]:
df['_trusted_judgments'].value_counts()

3      12955
259        4
249        4
242        3
247        2
264        2
227        2
260        2
253        1
239        1
231        1
270        1
262        1
254        1
261        1
240        1
245        1
228        1
248        1
235        1
274        1
258        1
250        1
256        1
255        1
Name: _trusted_judgments, dtype: int64

In [66]:
df['profile_yn'].value_counts()

yes    12894
no        97
Name: profile_yn, dtype: int64

In [67]:
df.dtypes

_golden                     bool
_unit_state               object
_trusted_judgments         int64
gender                    object
gender:confidence        float64
profile_yn                object
profile_yn:confidence    float64
created                   object
fav_number                 int64
link_color                object
name                      object
retweet_count              int64
sidebar_color             object
text                      object
tweet_count                int64
tweet_id                 float64
tweet_location            object
user_timezone             object
dtype: object

In [68]:
df.head(20)

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,created,fav_number,link_color,name,retweet_count,sidebar_color,text,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,12/5/13 1:48,0,08C2C2,sheezy0,0,FFFFFF,Robbie E Responds To Critics After Win Against...,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,10/1/12 13:51,68,0084B4,DavdBurnett,0,C0DEED,ÛÏIt felt like they were my friends and I was...,7471,6.587300e+17,London,Eastern Time (US & Canada)
2,False,finalized,3,male,0.6625,yes,1.0,11/28/14 11:30,7696,ABB8C2,lwtprettylaugh,1,C0DEED,i absolutely adore when louis starts the songs...,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,6/11/09 22:39,202,0084B4,douggarland,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,False,finalized,3,female,1.0000,yes,1.0,4/16/14 13:23,37318,3B94D9,WilfordGemma,0,0,Watching Neighbours on Sky+ catching up with t...,31462,6.587300e+17,London,NaN
5,False,finalized,3,female,1.0000,yes,1.0,3/11/10 18:14,3901,F5ABB5,monroevicious,0,0,"Ive seen people on the train with lamps, chair...",20036,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,False,finalized,3,male,1.0000,yes,1.0,12/3/12 21:54,80,0000FF,RobinMeske,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,112117,6.587300e+17,London,NaN
8,False,finalized,3,female,1.0000,yes,1.0,9/8/15 4:50,1825,9266CC,pigzilla_,0,0,@_Aphmau_ the pic defines all mcd fangirls/fan...,482,6.587300e+17,London,NaN
9,False,finalized,3,female,1.0000,yes,1.0,5/13/11 3:32,3115,9266CC,GabrieleNeher,0,FFFFFF,@Evielady just how lovely is the tree this yea...,26085,6.587300e+17,"Nottingham, England.",Amsterdam
12,False,finalized,3,female,0.6509,yes,1.0,8/10/12 5:05,3371,0084B4,kaylanabrewer_,0,FFFFFF,Just put my ass on the line for you and this i...,13585,6.587300e+17,London,Atlantic Time (Canada)
14,False,finalized,3,female,0.6501,yes,1.0,4/6/13 15:31,13928,0084B4,cheyflan,0,FFFFFF,will i even need sound effects for the diviner...,18469,6.587300e+17,row b seat 104,Atlantic Time (Canada)
15,False,finalized,3,female,1.0000,yes,1.0,10/3/15 21:32,0,0084B4,Ayu7sith4,0,C0DEED,https://t.co/EROGWTFTYo It's a glow of satisfa...,44421,6.587300e+17,London,NaN
16,False,finalized,3,female,1.0000,yes,1.0,8/27/11 9:42,1762,58185,Toucaan_Samm,0,EEEEEE,@giannaaa28 lmao _Ù÷â_Ù÷â dude I'm hella scare...,16627,6.587300e+17,London,Arizona
17,False,finalized,3,male,1.0000,yes,1.0,10/18/09 11:41,5,0084B4,SSmyth2010,0,C0DEED,@coolyazzy94 Ditto - I'm still learning the fa...,91,6.587300e+17,Glasgow,London
18,False,finalized,3,male,1.0000,yes,1.0,7/20/15 12:01,1,0084B4,DarkToonsGaming,0,C0DEED,@CaribBros @JstSaleem I do but I don't underst...,13,6.587300e+17,London,NaN
20,False,finalized,3,female,1.0000,yes,1.0,2/28/13 3:04,18751,3B94D9,jlpeter37,0,0,@CraftYear2015 @isabelpascual thank you for th...,10271,6.587300e+17,"St. John's, Newfoundland",NaN
21,False,finalized,3,female,1.0000,yes,1.0,10/14/11 17:53,5454,D41EBF,SarahMaddry,0,65B0DA,All the girls went to sleep and the guys just ...,13452,6.587300e+17,Port-au-Prince,Arizona
22,False,finalized,3,female,1.0000,yes,1.0,2/15/15 6:41,133,0084B4,bethleia,0,C0DEED,@ChrisAOfficial I'm on the right side_Ù÷âÏÎ_Ù...,408,6.587300e+17,London,NaN
23,False,finalized,3,male,1.0000,yes,1.0,1/11/13 1:18,2871,3B94D9,StrictlyAri,0,C0DEED,"YALL LMFAOO RIGHT WHEN THE CHORUS CAME ON, A T...",2219,6.587300e+17,"Tampa, FL",London
24,False,finalized,3,male,1.0000,yes,1.0,4/21/11 12:21,228,0084B4,JHurkett,0,C0DEED,James Bond premier night at the @Everymancinem...,3370,6.587300e+17,University of Surrey,Amsterdam

In [69]:
df['_golden'].value_counts()

False    12955
True        36
Name: _golden, dtype: int64

In [70]:
df.columns

Index(['_golden', '_unit_state', '_trusted_judgments', 'gender',
       'gender:confidence', 'profile_yn', 'profile_yn:confidence', 'created',
       'fav_number', 'link_color', 'name', 'retweet_count', 'sidebar_color',
       'text', 'tweet_count', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [71]:
for i in df.columns:
    print(df[i].value_counts())

False    12955
True        36
Name: _golden, dtype: int64
finalized    12955
golden          36
Name: _unit_state, dtype: int64
3      12955
259        4
249        4
242        3
247        2
264        2
227        2
260        2
253        1
239        1
231        1
270        1
262        1
254        1
261        1
240        1
245        1
228        1
248        1
235        1
274        1
258        1
250        1
256        1
255        1
Name: _trusted_judgments, dtype: int64
female    6700
male      6291
Name: gender, dtype: int64
1.0000    10020
0.0000       71
0.6691       18
0.6667       17
0.6678       16
          ...
0.8472        1
0.3353        1
0.3398        1
0.6373        1
0.7023        1
Name: gender:confidence, Length: 792, dtype: int64
yes    12894
no        97
Name: profile_yn, dtype: int64
1.0000    12721
0.6557        6
0.6636        4
0.6436        4
0.6649        4
          ...
0.6898        1
0.6786        1
0.6629        1
0.6735        1
0.6599        1
Name: profile_yn:confidence, Length: 201, dtype: int64
3/17/12 13:07     19
4/13/10 2:10      18
8/11/15 8:55      13
5/20/14 14:35     10
11/25/14 11:08    10
                  ..
11/18/13 15:24     1
5/22/10 13:00      1
3/14/15 5:41       1
11/13/11 14:08     1
5/19/12 22:03      1
Name: created, Length: 12346, dtype: int64
0        730
1        165
2        108
3         95
5         74
        ...
5577       1
1504       1
48607      1
3538       1
22497      1
Name: fav_number, Length: 6013, dtype: int64
0084B4    5778
3B94D9     419
9999       405
9266CC     377
DD2E44     362
          ...
1B11AD       1
FF0080       1
0B5903       1
D31145       1
506C49       1
Name: link_color, Length: 2142, dtype: int64
94heskind          19
naijama            18
babeniallniall2    13
94hesinspired      10
lwt_bae            10
                   ..
Sbeezy28            1
93Usroman           1
vlr_raymond         1
ThePsion            1
jasminbravo00       1
Name: name, Length: 12393, dtype: int64
0      12592
1        328
2         35
6          8
3          8
11         3
5          3
8          2
4          2
20         2
7          2
153        1
49         1
10         1
36         1
9          1
23         1
Name: retweet_count, dtype: int64
C0DEED      5287
0           2734
FFFFFF      2681
EEEEEE       482
181A1E       239
            ...
06191A         1
4.43E+03       1
73013C         1
5C005C         1
294654         1
Name: sidebar_color, Length: 421, dtype: int64
EVERYDAYILOVEYOU Forevermore\n\nand what makes it last\n\n#PushAwardsLizQuens                                                                 103
Build a Transforming Workbench, Desk, and Storage Unit: If you donÛªt have a lot of space, you need to make creative use of what you h...     12
@onedirection Favorite Duo or Group Pop/Rock at the #AMAs                                                                                       7
EVERYDAYDAYILOVEYOU Forevermore\nWeep with the heroineÛªs desperation.\n\n#PushAwardsLizQuens                                                  6
EVERYDAYDAYILOVEYOU Forevermore\nRide the edge of my seat with the heroÛ_\n\n#PushAwardsLizQuens                                               5
                                                                                                                                             ...
Roll me a skunk "@Mizzpurple01: Now High and Ready to tweet"                                                                                    1
@BrynnSteels //I'm sorry but you were being attacked and then rape was brought up so yeah                                                       1
now it's winter and i'm thinkin back on the summertime https://t.co/XW35LyZaHY                                                                  1
@menswearlucas he done this impression of me and I was like k wtf                                                                               1
Employees are doing more on their mobile devices and less on their PCs. The recent... https://t.co/0mT9kbF7hF https://t.co/BxtaLv2AUo           1
Name: text, Length: 12821, dtype: int64
76289    18
3        15
1        14
8        11
97       11
         ..
3899      1
9175      1
28463     1
18601     1
2047      1
Name: tweet_count, Length: 9984, dtype: int64
6.587400e+17    7064
6.587300e+17    5927
Name: tweet_id, dtype: int64
London                          4287
Los Angeles, CA                   51
United States                     49
UK                                45
London, England                   36
                                ...
126                                1
22 FLÏöüOH                      1
okotoks ab.                        1
Death City or Angel's Domain       1
Trap'House                         1
Name: tweet_location, Length: 6100, dtype: int64
Eastern Time (US & Canada)        1672
Pacific Time (US & Canada)        1360
Central Time (US & Canada)        1099
London                             907
Atlantic Time (Canada)             445
                                  ...
EDT                                  1
America/Vancouver                    1
America/Argentina/Buenos_Aires       1
Africa/Lagos                         1
America/Boise                        1
Name: user_timezone, Length: 148, dtype: int64

In [72]:
df.dtypes

_golden                     bool
_unit_state               object
_trusted_judgments         int64
gender                    object
gender:confidence        float64
profile_yn                object
profile_yn:confidence    float64
created                   object
fav_number                 int64
link_color                object
name                      object
retweet_count              int64
sidebar_color             object
text                      object
tweet_count                int64
tweet_id                 float64
tweet_location            object
user_timezone             object
dtype: object

In [73]:
df.drop(['created'],axis=1,inplace=True)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _golden                12991 non-null  bool
 1   _unit_state            12991 non-null  object
 2   _trusted_judgments     12991 non-null  int64
 3   gender                 12991 non-null  object
 4   gender:confidence      12965 non-null  float64
 5   profile_yn             12991 non-null  object
 6   profile_yn:confidence  12991 non-null  float64
 7   fav_number             12991 non-null  int64
 8   link_color             12991 non-null  object
 9   name                   12991 non-null  object
 10  retweet_count          12991 non-null  int64
 11  sidebar_color          12991 non-null  object
 12  text                   12991 non-null  object
 13  tweet_count            12991 non-null  int64
 14  tweet_id               12991 non-null  float64
 15  tweet_location         12991 non-null  object
 16  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(4), object(9)
memory usage: 1.7+ MB

In [75]:
df['name'].unique

<bound method Series.unique of 0               sheezy0
1           DavdBurnett
2        lwtprettylaugh
3           douggarland
4          WilfordGemma
              ...
20045       capuletrosa
20046        BenNight41
20047     realuzzyfluxz
20048      argumatronic
20049       MeganFitz20
Name: name, Length: 12991, dtype: object>

In [76]:
df.groupby(['name']).count()

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,retweet_count,sidebar_color,text,tweet_count,tweet_id,tweet_location,user_timezone
name,,,,,,,,,,,,,,,,
0154_GUTIERREZ,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
01808gnlb,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
01LBrown,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
01paigee,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
03Aisla,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zooffyrolling,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
zowiekelilaa,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
zruxmusic,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
zuli786,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
zyxy_nana,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0

In [77]:
df.drop(['text'],axis=1,inplace=True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _golden                12991 non-null  bool
 1   _unit_state            12991 non-null  object
 2   _trusted_judgments     12991 non-null  int64
 3   gender                 12991 non-null  object
 4   gender:confidence      12965 non-null  float64
 5   profile_yn             12991 non-null  object
 6   profile_yn:confidence  12991 non-null  float64
 7   fav_number             12991 non-null  int64
 8   link_color             12991 non-null  object
 9   name                   12991 non-null  object
 10  retweet_count          12991 non-null  int64
 11  sidebar_color          12991 non-null  object
 12  tweet_count            12991 non-null  int64
 13  tweet_id               12991 non-null  float64
 14  tweet_location         12991 non-null  object
 15  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(4), object(8)
memory usage: 1.6+ MB

In [79]:
df.head(20)

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,0,08C2C2,sheezy0,0,FFFFFF,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,68,0084B4,DavdBurnett,0,C0DEED,7471,6.587300e+17,London,Eastern Time (US & Canada)
2,False,finalized,3,male,0.6625,yes,1.0,7696,ABB8C2,lwtprettylaugh,1,C0DEED,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,202,0084B4,douggarland,0,C0DEED,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,False,finalized,3,female,1.0000,yes,1.0,37318,3B94D9,WilfordGemma,0,0,31462,6.587300e+17,London,NaN
5,False,finalized,3,female,1.0000,yes,1.0,3901,F5ABB5,monroevicious,0,0,20036,6.587300e+17,New York Gritty,Central Time (US & Canada)
7,False,finalized,3,male,1.0000,yes,1.0,80,0000FF,RobinMeske,0,C0DEED,112117,6.587300e+17,London,NaN
8,False,finalized,3,female,1.0000,yes,1.0,1825,9266CC,pigzilla_,0,0,482,6.587300e+17,London,NaN
9,False,finalized,3,female,1.0000,yes,1.0,3115,9266CC,GabrieleNeher,0,FFFFFF,26085,6.587300e+17,"Nottingham, England.",Amsterdam
12,False,finalized,3,female,0.6509,yes,1.0,3371,0084B4,kaylanabrewer_,0,FFFFFF,13585,6.587300e+17,London,Atlantic Time (Canada)
14,False,finalized,3,female,0.6501,yes,1.0,13928,0084B4,cheyflan,0,FFFFFF,18469,6.587300e+17,row b seat 104,Atlantic Time (Canada)
15,False,finalized,3,female,1.0000,yes,1.0,0,0084B4,Ayu7sith4,0,C0DEED,44421,6.587300e+17,London,NaN
16,False,finalized,3,female,1.0000,yes,1.0,1762,58185,Toucaan_Samm,0,EEEEEE,16627,6.587300e+17,London,Arizona
17,False,finalized,3,male,1.0000,yes,1.0,5,0084B4,SSmyth2010,0,C0DEED,91,6.587300e+17,Glasgow,London
18,False,finalized,3,male,1.0000,yes,1.0,1,0084B4,DarkToonsGaming,0,C0DEED,13,6.587300e+17,London,NaN
20,False,finalized,3,female,1.0000,yes,1.0,18751,3B94D9,jlpeter37,0,0,10271,6.587300e+17,"St. John's, Newfoundland",NaN
21,False,finalized,3,female,1.0000,yes,1.0,5454,D41EBF,SarahMaddry,0,65B0DA,13452,6.587300e+17,Port-au-Prince,Arizona
22,False,finalized,3,female,1.0000,yes,1.0,133,0084B4,bethleia,0,C0DEED,408,6.587300e+17,London,NaN
23,False,finalized,3,male,1.0000,yes,1.0,2871,3B94D9,StrictlyAri,0,C0DEED,2219,6.587300e+17,"Tampa, FL",London
24,False,finalized,3,male,1.0000,yes,1.0,228,0084B4,JHurkett,0,C0DEED,3370,6.587300e+17,University of Surrey,Amsterdam

In [80]:
df.groupby(['sidebar_color']).count()

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,tweet_count,tweet_id,tweet_location,user_timezone
sidebar_color,,,,,,,,,,,,,,,
0,2734,2734,2734,2734,2726,2734,2734,2734,2734,2734,2734,2734,2734,2734,2074
00090A,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
001B5E,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
002D7A,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
005A87,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FFDE00,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
FFF1E8,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
FFF8AD,55,55,55,55,55,55,55,55,55,55,55,55,55,55,54
FFFAFA,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
FFFFFF,2681,2681,2681,2681,2676,2681,2681,2681,2681,2681,2681,2681,2681,2681,2408

In [81]:
df.groupby(['user_timezone']).count()

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location
user_timezone,,,,,,,,,,,,,,,
Abu Dhabi,20,20,20,20,19,20,20,20,20,20,20,20,20,20,20
Adelaide,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Africa/Cairo,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Africa/Lagos,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Africa/Nairobi,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wellington,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
West Central Africa,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
Yakutsk,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Yerevan,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Zagreb,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6

In [82]:
df['user_timezone'].values[0][0]

'C'

In [83]:
df['user_timezone'].values[0].split(' ')[0]

'Chennai'

In [84]:
df_timezone=df[['user_timezone']]

In [85]:
df_timezone

                    user_timezone
0                         Chennai
1      Eastern Time (US & Canada)
2                        Belgrade
3      Pacific Time (US & Canada)
4                             NaN
...                           ...
20045                         NaN
20046                         NaN
20047                         NaN
20048                         NaN
20049                         NaN

[12991 rows x 1 columns]

In [86]:
df_timezone['user_timezone'].value_counts()

Eastern Time (US & Canada)        1672
Pacific Time (US & Canada)        1360
Central Time (US & Canada)        1099
London                             907
Atlantic Time (Canada)             445
                                  ...
EDT                                  1
America/Vancouver                    1
America/Argentina/Buenos_Aires       1
Africa/Lagos                         1
America/Boise                        1
Name: user_timezone, Length: 148, dtype: int64

In [87]:
df_timezone['user_timezone'].values[0].split(' ')[0]

'Chennai'

In [88]:
df

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,0,08C2C2,sheezy0,0,FFFFFF,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,68,0084B4,DavdBurnett,0,C0DEED,7471,6.587300e+17,London,Eastern Time (US & Canada)
2,False,finalized,3,male,0.6625,yes,1.0,7696,ABB8C2,lwtprettylaugh,1,C0DEED,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,202,0084B4,douggarland,0,C0DEED,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,False,finalized,3,female,1.0000,yes,1.0,37318,3B94D9,WilfordGemma,0,0,31462,6.587300e+17,London,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,True,golden,259,female,1.0000,yes,1.0,302,0084B4,capuletrosa,0,C0DEED,783,6.587400e+17,Verona ªÁ,NaN
20046,True,golden,248,male,1.0000,yes,1.0,2513,CFB929,BenNight41,0,0,13523,6.587300e+17,"Kansas City, MO",NaN
20047,True,golden,264,male,1.0000,yes,1.0,50,0084B4,realuzzyfluxz,0,C0DEED,26419,6.587400e+17,Lagos Nigeria,NaN
20048,True,golden,250,female,0.8489,yes,1.0,70804,9266CC,argumatronic,0,0,56073,6.587300e+17,Texas Hill Country,NaN
20049,True,golden,249,female,1.0000,yes,1.0,3348,0084B4,MeganFitz20,0,C0DEED,2922,6.587400e+17,London,NaN

In [89]:
df_mp1=df
df_mp2=df
df_mp3=df
df_mp4=df

In [90]:
df_mp1

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,0,08C2C2,sheezy0,0,FFFFFF,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,68,0084B4,DavdBurnett,0,C0DEED,7471,6.587300e+17,London,Eastern Time (US & Canada)
2,False,finalized,3,male,0.6625,yes,1.0,7696,ABB8C2,lwtprettylaugh,1,C0DEED,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,202,0084B4,douggarland,0,C0DEED,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,False,finalized,3,female,1.0000,yes,1.0,37318,3B94D9,WilfordGemma,0,0,31462,6.587300e+17,London,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,True,golden,259,female,1.0000,yes,1.0,302,0084B4,capuletrosa,0,C0DEED,783,6.587400e+17,Verona ªÁ,NaN
20046,True,golden,248,male,1.0000,yes,1.0,2513,CFB929,BenNight41,0,0,13523,6.587300e+17,"Kansas City, MO",NaN
20047,True,golden,264,male,1.0000,yes,1.0,50,0084B4,realuzzyfluxz,0,C0DEED,26419,6.587400e+17,Lagos Nigeria,NaN
20048,True,golden,250,female,0.8489,yes,1.0,70804,9266CC,argumatronic,0,0,56073,6.587300e+17,Texas Hill Country,NaN
20049,True,golden,249,female,1.0000,yes,1.0,3348,0084B4,MeganFitz20,0,C0DEED,2922,6.587400e+17,London,NaN

In [91]:
current_title = df['user_timezone'].values[1]
list_of_title_words = current_title.split(' ')[0]
print(list_of_title_words)

Eastern

In [92]:
df

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,0,08C2C2,sheezy0,0,FFFFFF,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,68,0084B4,DavdBurnett,0,C0DEED,7471,6.587300e+17,London,Eastern Time (US & Canada)
2,False,finalized,3,male,0.6625,yes,1.0,7696,ABB8C2,lwtprettylaugh,1,C0DEED,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,202,0084B4,douggarland,0,C0DEED,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,False,finalized,3,female,1.0000,yes,1.0,37318,3B94D9,WilfordGemma,0,0,31462,6.587300e+17,London,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,True,golden,259,female,1.0000,yes,1.0,302,0084B4,capuletrosa,0,C0DEED,783,6.587400e+17,Verona ªÁ,NaN
20046,True,golden,248,male,1.0000,yes,1.0,2513,CFB929,BenNight41,0,0,13523,6.587300e+17,"Kansas City, MO",NaN
20047,True,golden,264,male,1.0000,yes,1.0,50,0084B4,realuzzyfluxz,0,C0DEED,26419,6.587400e+17,Lagos Nigeria,NaN
20048,True,golden,250,female,0.8489,yes,1.0,70804,9266CC,argumatronic,0,0,56073,6.587300e+17,Texas Hill Country,NaN
20049,True,golden,249,female,1.0000,yes,1.0,3348,0084B4,MeganFitz20,0,C0DEED,2922,6.587400e+17,London,NaN

In [93]:
df['user_timezone'].value_counts()

Eastern Time (US & Canada)        1672
Pacific Time (US & Canada)        1360
Central Time (US & Canada)        1099
London                             907
Atlantic Time (Canada)             445
                                  ...
EDT                                  1
America/Vancouver                    1
America/Argentina/Buenos_Aires       1
Africa/Lagos                         1
America/Boise                        1
Name: user_timezone, Length: 148, dtype: int64

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _golden                12991 non-null  bool
 1   _unit_state            12991 non-null  object
 2   _trusted_judgments     12991 non-null  int64
 3   gender                 12991 non-null  object
 4   gender:confidence      12965 non-null  float64
 5   profile_yn             12991 non-null  object
 6   profile_yn:confidence  12991 non-null  float64
 7   fav_number             12991 non-null  int64
 8   link_color             12991 non-null  object
 9   name                   12991 non-null  object
 10  retweet_count          12991 non-null  int64
 11  sidebar_color          12991 non-null  object
 12  tweet_count            12991 non-null  int64
 13  tweet_id               12991 non-null  float64
 14  tweet_location         12991 non-null  object
 15  user_timezone          8564 non-null   object
dtypes: bool(1), float64(3), int64(4), object(8)
memory usage: 1.6+ MB

In [95]:
df['user_timezone'] = df['user_timezone'].fillna('Eastern Time (US & Canada)')

In [96]:
df

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,0,08C2C2,sheezy0,0,FFFFFF,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,68,0084B4,DavdBurnett,0,C0DEED,7471,6.587300e+17,London,Eastern Time (US & Canada)
2,False,finalized,3,male,0.6625,yes,1.0,7696,ABB8C2,lwtprettylaugh,1,C0DEED,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,202,0084B4,douggarland,0,C0DEED,1693,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,False,finalized,3,female,1.0000,yes,1.0,37318,3B94D9,WilfordGemma,0,0,31462,6.587300e+17,London,Eastern Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,True,golden,259,female,1.0000,yes,1.0,302,0084B4,capuletrosa,0,C0DEED,783,6.587400e+17,Verona ªÁ,Eastern Time (US & Canada)
20046,True,golden,248,male,1.0000,yes,1.0,2513,CFB929,BenNight41,0,0,13523,6.587300e+17,"Kansas City, MO",Eastern Time (US & Canada)
20047,True,golden,264,male,1.0000,yes,1.0,50,0084B4,realuzzyfluxz,0,C0DEED,26419,6.587400e+17,Lagos Nigeria,Eastern Time (US & Canada)
20048,True,golden,250,female,0.8489,yes,1.0,70804,9266CC,argumatronic,0,0,56073,6.587300e+17,Texas Hill Country,Eastern Time (US & Canada)
20049,True,golden,249,female,1.0000,yes,1.0,3348,0084B4,MeganFitz20,0,C0DEED,2922,6.587400e+17,London,Eastern Time (US & Canada)

In [97]:
for i in range(df.shape[0]):
    current_title = df['user_timezone'].values[i]
    list_of_title_words = current_title.split(' ')[0]
    df['user_timezone'].values[i] = list_of_title_words

In [98]:
df

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,0,08C2C2,sheezy0,0,FFFFFF,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,68,0084B4,DavdBurnett,0,C0DEED,7471,6.587300e+17,London,Eastern
2,False,finalized,3,male,0.6625,yes,1.0,7696,ABB8C2,lwtprettylaugh,1,C0DEED,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,202,0084B4,douggarland,0,C0DEED,1693,6.587300e+17,"Palo Alto, CA",Pacific
4,False,finalized,3,female,1.0000,yes,1.0,37318,3B94D9,WilfordGemma,0,0,31462,6.587300e+17,London,Eastern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,True,golden,259,female,1.0000,yes,1.0,302,0084B4,capuletrosa,0,C0DEED,783,6.587400e+17,Verona ªÁ,Eastern
20046,True,golden,248,male,1.0000,yes,1.0,2513,CFB929,BenNight41,0,0,13523,6.587300e+17,"Kansas City, MO",Eastern
20047,True,golden,264,male,1.0000,yes,1.0,50,0084B4,realuzzyfluxz,0,C0DEED,26419,6.587400e+17,Lagos Nigeria,Eastern
20048,True,golden,250,female,0.8489,yes,1.0,70804,9266CC,argumatronic,0,0,56073,6.587300e+17,Texas Hill Country,Eastern
20049,True,golden,249,female,1.0000,yes,1.0,3348,0084B4,MeganFitz20,0,C0DEED,2922,6.587400e+17,London,Eastern

In [99]:
df['user_timezone'].value_counts()

Eastern                           6099
Pacific                           1360
Central                           1104
London                             907
Atlantic                           445
                                  ...
Minsk                                1
America/Argentina/Buenos_Aires       1
Europe/Sarajevo                      1
Dhaka                                1
America/Boise                        1
Name: user_timezone, Length: 146, dtype: int64

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _golden                12991 non-null  bool
 1   _unit_state            12991 non-null  object
 2   _trusted_judgments     12991 non-null  int64
 3   gender                 12991 non-null  object
 4   gender:confidence      12965 non-null  float64
 5   profile_yn             12991 non-null  object
 6   profile_yn:confidence  12991 non-null  float64
 7   fav_number             12991 non-null  int64
 8   link_color             12991 non-null  object
 9   name                   12991 non-null  object
 10  retweet_count          12991 non-null  int64
 11  sidebar_color          12991 non-null  object
 12  tweet_count            12991 non-null  int64
 13  tweet_id               12991 non-null  float64
 14  tweet_location         12991 non-null  object
 15  user_timezone          12991 non-null  object
dtypes: bool(1), float64(3), int64(4), object(8)
memory usage: 1.6+ MB

In [101]:
cat_col = set(df.columns) - set(df.describe().columns)

In [202]:
df.columns

Index(['_golden', '_unit_state', '_trusted_judgments', 'gender',
       'gender:confidence', 'profile_yn', 'profile_yn:confidence',
       'fav_number', 'link_color', 'name', 'retweet_count', 'sidebar_color',
       'tweet_count', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [102]:
cat_col

{'_golden',
 '_unit_state',
 'gender',
 'link_color',
 'name',
 'profile_yn',
 'sidebar_color',
 'tweet_location',
 'user_timezone'}

In [103]:
df

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,0,08C2C2,sheezy0,0,FFFFFF,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,68,0084B4,DavdBurnett,0,C0DEED,7471,6.587300e+17,London,Eastern
2,False,finalized,3,male,0.6625,yes,1.0,7696,ABB8C2,lwtprettylaugh,1,C0DEED,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,202,0084B4,douggarland,0,C0DEED,1693,6.587300e+17,"Palo Alto, CA",Pacific
4,False,finalized,3,female,1.0000,yes,1.0,37318,3B94D9,WilfordGemma,0,0,31462,6.587300e+17,London,Eastern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,True,golden,259,female,1.0000,yes,1.0,302,0084B4,capuletrosa,0,C0DEED,783,6.587400e+17,Verona ªÁ,Eastern
20046,True,golden,248,male,1.0000,yes,1.0,2513,CFB929,BenNight41,0,0,13523,6.587300e+17,"Kansas City, MO",Eastern
20047,True,golden,264,male,1.0000,yes,1.0,50,0084B4,realuzzyfluxz,0,C0DEED,26419,6.587400e+17,Lagos Nigeria,Eastern
20048,True,golden,250,female,0.8489,yes,1.0,70804,9266CC,argumatronic,0,0,56073,6.587300e+17,Texas Hill Country,Eastern
20049,True,golden,249,female,1.0000,yes,1.0,3348,0084B4,MeganFitz20,0,C0DEED,2922,6.587400e+17,London,Eastern

In [104]:
df_mp1=df
df_mp2=df
df_mp3=df
df_mp4=df

In [105]:
df_mp1

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,False,finalized,3,male,1.0000,yes,1.0,0,08C2C2,sheezy0,0,FFFFFF,110964,6.587300e+17,main; @Kan1shk3,Chennai
1,False,finalized,3,male,1.0000,yes,1.0,68,0084B4,DavdBurnett,0,C0DEED,7471,6.587300e+17,London,Eastern
2,False,finalized,3,male,0.6625,yes,1.0,7696,ABB8C2,lwtprettylaugh,1,C0DEED,5617,6.587300e+17,clcncl,Belgrade
3,False,finalized,3,male,1.0000,yes,1.0,202,0084B4,douggarland,0,C0DEED,1693,6.587300e+17,"Palo Alto, CA",Pacific
4,False,finalized,3,female,1.0000,yes,1.0,37318,3B94D9,WilfordGemma,0,0,31462,6.587300e+17,London,Eastern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,True,golden,259,female,1.0000,yes,1.0,302,0084B4,capuletrosa,0,C0DEED,783,6.587400e+17,Verona ªÁ,Eastern
20046,True,golden,248,male,1.0000,yes,1.0,2513,CFB929,BenNight41,0,0,13523,6.587300e+17,"Kansas City, MO",Eastern
20047,True,golden,264,male,1.0000,yes,1.0,50,0084B4,realuzzyfluxz,0,C0DEED,26419,6.587400e+17,Lagos Nigeria,Eastern
20048,True,golden,250,female,0.8489,yes,1.0,70804,9266CC,argumatronic,0,0,56073,6.587300e+17,Texas Hill Country,Eastern
20049,True,golden,249,female,1.0000,yes,1.0,3348,0084B4,MeganFitz20,0,C0DEED,2922,6.587400e+17,London,Eastern

In [107]:
from sklearn.preprocessing import LabelEncoder
for each_col in cat_col:
    le = LabelEncoder()
    df[each_col] = le.fit_transform(df[each_col])

In [108]:
df

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,0,0,3,1,1.0000,1,1.0,0,165,11329,0,420,110964,6.587300e+17,5411,45
1,0,0,3,1,1.0000,1,1.0,68,51,1469,0,272,7471,6.587300e+17,2569,52
2,0,0,3,1,0.6625,1,1.0,7696,1428,9909,1,272,5617,6.587300e+17,5038,26
3,0,0,3,1,1.0000,1,1.0,202,51,7993,0,272,1693,6.587300e+17,3402,110
4,0,0,3,0,1.0000,1,1.0,37318,706,6079,0,0,31462,6.587300e+17,2569,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,1,1,259,0,1.0000,1,1.0,302,51,7375,0,272,783,6.587400e+17,4548,52
20046,1,1,248,1,1.0000,1,1.0,2513,1642,714,0,0,13523,6.587300e+17,2304,52
20047,1,1,264,1,1.0000,1,1.0,50,51,10987,0,272,26419,6.587400e+17,2421,52
20048,1,1,250,0,0.8489,1,1.0,70804,1279,6884,0,0,56073,6.587300e+17,4245,52
20049,1,1,249,0,1.0000,1,1.0,3348,51,3868,0,272,2922,6.587400e+17,2569,52

In [109]:
df_mp1=df
df_mp2=df
df_mp3=df
df_mp4=df

In [110]:
df_mp1

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,0,0,3,1,1.0000,1,1.0,0,165,11329,0,420,110964,6.587300e+17,5411,45
1,0,0,3,1,1.0000,1,1.0,68,51,1469,0,272,7471,6.587300e+17,2569,52
2,0,0,3,1,0.6625,1,1.0,7696,1428,9909,1,272,5617,6.587300e+17,5038,26
3,0,0,3,1,1.0000,1,1.0,202,51,7993,0,272,1693,6.587300e+17,3402,110
4,0,0,3,0,1.0000,1,1.0,37318,706,6079,0,0,31462,6.587300e+17,2569,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,1,1,259,0,1.0000,1,1.0,302,51,7375,0,272,783,6.587400e+17,4548,52
20046,1,1,248,1,1.0000,1,1.0,2513,1642,714,0,0,13523,6.587300e+17,2304,52
20047,1,1,264,1,1.0000,1,1.0,50,51,10987,0,272,26419,6.587400e+17,2421,52
20048,1,1,250,0,0.8489,1,1.0,70804,1279,6884,0,0,56073,6.587300e+17,4245,52
20049,1,1,249,0,1.0000,1,1.0,3348,51,3868,0,272,2922,6.587400e+17,2569,52

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _golden                12991 non-null  int64
 1   _unit_state            12991 non-null  int32
 2   _trusted_judgments     12991 non-null  int64
 3   gender                 12991 non-null  int32
 4   gender:confidence      12965 non-null  float64
 5   profile_yn             12991 non-null  int32
 6   profile_yn:confidence  12991 non-null  float64
 7   fav_number             12991 non-null  int64
 8   link_color             12991 non-null  int32
 9   name                   12991 non-null  int32
 10  retweet_count          12991 non-null  int64
 11  sidebar_color          12991 non-null  int32
 12  tweet_count            12991 non-null  int64
 13  tweet_id               12991 non-null  float64
 14  tweet_location         12991 non-null  int32
 15  user_timezone          12991 non-null  int32
dtypes: float64(3), int32(8), int64(5)
memory usage: 1.3 MB

In [112]:
from sklearn.neural_network import MLPClassifier

In [113]:
mlp=MLPClassifier(hidden_layer_sizes=(10,),activation='relu',solver='adam',verbose=True)

In [114]:
import numpy as np
predict = "gender"
X = np.array(df.drop("gender",axis=1))
y = np.array(df[predict])

In [115]:
X.shape

(12991, 15)

In [116]:
y.shape[0]

12991

In [117]:
from sklearn.model_selection import train_test_split

In [118]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7)

In [119]:
mlp.fit(X_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [120]:
df

,_golden,_unit_state,_trusted_judgments,gender,gender:confidence,profile_yn,profile_yn:confidence,fav_number,link_color,name,retweet_count,sidebar_color,tweet_count,tweet_id,tweet_location,user_timezone
0,0,0,3,1,1.0000,1,1.0,0,165,11329,0,420,110964,6.587300e+17,5411,45
1,0,0,3,1,1.0000,1,1.0,68,51,1469,0,272,7471,6.587300e+17,2569,52
2,0,0,3,1,0.6625,1,1.0,7696,1428,9909,1,272,5617,6.587300e+17,5038,26
3,0,0,3,1,1.0000,1,1.0,202,51,7993,0,272,1693,6.587300e+17,3402,110
4,0,0,3,0,1.0000,1,1.0,37318,706,6079,0,0,31462,6.587300e+17,2569,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,1,1,259,0,1.0000,1,1.0,302,51,7375,0,272,783,6.587400e+17,4548,52
20046,1,1,248,1,1.0000,1,1.0,2513,1642,714,0,0,13523,6.587300e+17,2304,52
20047,1,1,264,1,1.0000,1,1.0,50,51,10987,0,272,26419,6.587400e+17,2421,52
20048,1,1,250,0,0.8489,1,1.0,70804,1279,6884,0,0,56073,6.587300e+17,4245,52
20049,1,1,249,0,1.0000,1,1.0,3348,51,3868,0,272,2922,6.587400e+17,2569,52

In [121]:
df['gender:confidence'] = df['gender:confidence'].fillna(avg_round)

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12991 entries, 0 to 20049
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _golden                12991 non-null  int64
 1   _unit_state            12991 non-null  int32
 2   _trusted_judgments     12991 non-null  int64
 3   gender                 12991 non-null  int32
 4   gender:confidence      12991 non-null  float64
 5   profile_yn             12991 non-null  int32
 6   profile_yn:confidence  12991 non-null  float64
 7   fav_number             12991 non-null  int64
 8   link_color             12991 non-null  int32
 9   name                   12991 non-null  int32
 10  retweet_count          12991 non-null  int64
 11  sidebar_color          12991 non-null  int32
 12  tweet_count            12991 non-null  int64
 13  tweet_id               12991 non-null  float64
 14  tweet_location         12991 non-null  int32
 15  user_timezone          12991 non-null  int32
dtypes: float64(3), int32(8), int64(5)
memory usage: 1.3 MB

In [123]:
import numpy as np
predict = "gender"
X = np.array(df.drop("gender",axis=1))
y = np.array(df[predict])

In [124]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7)

In [125]:
mlp.fit(X_train,y_train)

Iteration 1, loss = 17.45301221
Iteration 2, loss = 17.42526465
Iteration 3, loss = 17.94453399
Iteration 4, loss = 17.82165316
Iteration 5, loss = 17.88507521
Iteration 6, loss = 18.09119735
Iteration 7, loss = 18.01588331
Iteration 8, loss = 17.96435264
Iteration 9, loss = 17.93264145
Iteration 10, loss = 17.90093027
Iteration 11, loss = 18.10705251
Iteration 12, loss = 17.71859124
Iteration 13, loss = 18.18236636
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(10,), verbose=True)

In [128]:
mlp=MLPClassifier(hidden_layer_sizes=(30,4),activation='relu',solver='adam',verbose=True)

In [129]:
mlp.fit(X_train,y_train)

Iteration 1, loss = 18.59065180
Iteration 2, loss = 14.10611454
Iteration 3, loss = 0.70110173
Iteration 4, loss = 0.70066074
Iteration 5, loss = 0.70014609
Iteration 6, loss = 0.69959570
Iteration 7, loss = 0.69903982
Iteration 8, loss = 0.69847242
Iteration 9, loss = 0.69792665
Iteration 10, loss = 0.69739152
Iteration 11, loss = 0.69687602
Iteration 12, loss = 0.69641006
Iteration 13, loss = 0.69595441
Iteration 14, loss = 0.69555203
Iteration 15, loss = 0.69517467
Iteration 16, loss = 0.69484093
Iteration 17, loss = 0.69454050
Iteration 18, loss = 1.09898350
Iteration 19, loss = 0.69395294
Iteration 20, loss = 0.69375942
Iteration 21, loss = 0.69357960
Iteration 22, loss = 0.69342878
Iteration 23, loss = 0.69329768
Iteration 24, loss = 0.69318710
Iteration 25, loss = 0.69310248
Iteration 26, loss = 0.69301343
Iteration 27, loss = 0.69294796
Iteration 28, loss = 0.69288759
Iteration 29, loss = 0.69283936
Iteration 30, loss = 0.69279962
Iteration 31, loss = 0.69277596
Iteration 32, loss = 0.69274853
Iteration 33, loss = 0.69272642
Iteration 34, loss = 0.69271515
Iteration 35, loss = 0.69269772
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(30, 4), verbose=True)

In [130]:
mlp.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [131]:
Y_pred_nn=mlp.predict(X_test)

In [132]:
from sklearn.metrics import accuracy_score

In [133]:
accuracy_score(y_test, Y_pred_nn)

0.5156490507952797

In [136]:
from sklearn.preprocessing import MinMaxScaler

In [165]:
normalized_data=MinMaxScaler().fit_transform(X)

In [158]:
X_train,X_test,y_train,y_test = train_test_split(normalized_data,y,train_size=0.7)

In [159]:
mlp.fit(X_train,y_train)

Iteration 1, loss = 0.71806736
Iteration 2, loss = 0.69587838
Iteration 3, loss = 0.69262122
Iteration 4, loss = 0.69004556
Iteration 5, loss = 0.68772119
Iteration 6, loss = 0.68573763
Iteration 7, loss = 0.68335554
Iteration 8, loss = 0.68141056
Iteration 9, loss = 0.67921342
Iteration 10, loss = 0.67682216
Iteration 11, loss = 0.67449230
Iteration 12, loss = 0.67378451
Iteration 13, loss = 0.67245143
Iteration 14, loss = 0.67257302
Iteration 15, loss = 0.67048144
Iteration 16, loss = 0.66945431
Iteration 17, loss = 0.66846840
Iteration 18, loss = 0.66859978
Iteration 19, loss = 0.66707025
Iteration 20, loss = 0.66660789
Iteration 21, loss = 0.66639617
Iteration 22, loss = 0.66588878
Iteration 23, loss = 0.66626377
Iteration 24, loss = 0.66541392
Iteration 25, loss = 0.66508877
Iteration 26, loss = 0.66471121
Iteration 27, loss = 0.66478504
Iteration 28, loss = 0.66421756
Iteration 29, loss = 0.66351059
Iteration 30, loss = 0.66410004
Iteration 31, loss = 0.66367520
Iteration 32, loss = 0.66355127
Iteration 33, loss = 0.66363893
Iteration 34, loss = 0.66298833
Iteration 35, loss = 0.66300876
Iteration 36, loss = 0.66297464
Iteration 37, loss = 0.66319514
Iteration 38, loss = 0.66255570
Iteration 39, loss = 0.66278806
Iteration 40, loss = 0.66232680
Iteration 41, loss = 0.66256601
Iteration 42, loss = 0.66291607
Iteration 43, loss = 0.66222242
Iteration 44, loss = 0.66219002
Iteration 45, loss = 0.66141251
Iteration 46, loss = 0.66155127
Iteration 47, loss = 0.66160646
Iteration 48, loss = 0.66192283
Iteration 49, loss = 0.66128221
Iteration 50, loss = 0.66113459
Iteration 51, loss = 0.66122297
Iteration 52, loss = 0.66123406
Iteration 53, loss = 0.66189615
Iteration 54, loss = 0.66101174
Iteration 55, loss = 0.66122639
Iteration 56, loss = 0.66094324
Iteration 57, loss = 0.66114241
Iteration 58, loss = 0.66081468
Iteration 59, loss = 0.66029613
Iteration 60, loss = 0.66052883
Iteration 61, loss = 0.65997373
Iteration 62, loss = 0.66011295
Iteration 63, loss = 0.66019721
Iteration 64, loss = 0.66023741
Iteration 65, loss = 0.65978374
Iteration 66, loss = 0.65948176
Iteration 67, loss = 0.66179721
Iteration 68, loss = 0.66028439
Iteration 69, loss = 0.65965453
Iteration 70, loss = 0.65954692
Iteration 71, loss = 0.65960191
Iteration 72, loss = 0.66030077
Iteration 73, loss = 0.65984523
Iteration 74, loss = 0.66024234
Iteration 75, loss = 0.65913097
Iteration 76, loss = 0.65896061
Iteration 77, loss = 0.65944856
Iteration 78, loss = 0.65875488
Iteration 79, loss = 0.65939552
Iteration 80, loss = 0.65866072
Iteration 81, loss = 0.65905542
Iteration 82, loss = 0.65898325
Iteration 83, loss = 0.65863633
Iteration 84, loss = 0.65853235
Iteration 85, loss = 0.65866154
Iteration 86, loss = 0.65962853
Iteration 87, loss = 0.65869114
Iteration 88, loss = 0.65849333
Iteration 89, loss = 0.65893329
Iteration 90, loss = 0.65830553
Iteration 91, loss = 0.65793949
Iteration 92, loss = 0.65786316
Iteration 93, loss = 0.65805873
Iteration 94, loss = 0.65786923
Iteration 95, loss = 0.65769199
Iteration 96, loss = 0.65884750
Iteration 97, loss = 0.65814679
Iteration 98, loss = 0.65750994
Iteration 99, loss = 0.65768819
Iteration 100, loss = 0.65733365
Iteration 101, loss = 0.65683405
Iteration 102, loss = 0.65918327
Iteration 103, loss = 0.65746080
Iteration 104, loss = 0.65882242
Iteration 105, loss = 0.65717024
Iteration 106, loss = 0.65693786
Iteration 107, loss = 0.65732941
Iteration 108, loss = 0.65735811
Iteration 109, loss = 0.65705987
Iteration 110, loss = 0.65677911
Iteration 111, loss = 0.65726887
Iteration 112, loss = 0.65685935
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(30, 4), verbose=True)

In [160]:
Y_pred_nn=mlp.predict(X_test)

In [161]:
accuracy_score(y_test, Y_pred_nn)

0.5746536685479733

In [142]:
mlp.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [191]:
from keras.optimizers import Adam

In [145]:
from tensorflow.keras.layers import Input, Dense, Activation

In [146]:
from tensorflow.keras import Sequential

In [184]:
model=Sequential()
model.add(Input(shape=(15,)),)
model.add(Dense(35,activation='relu'),)
model.add(Dense(40,activation='relu'),)
model.add(Dense(30,activation='relu'),)
model.add(Dense(2,activation='softmax'),)

In [198]:
opt=Adam(learning_rate=0.000009)

In [199]:
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [200]:
X_train,X_test,y_train,y_test = train_test_split(normalized_data,y,train_size=0.7)

In [201]:
model.fit(X_train,y_train,epochs=150,)

Epoch 1/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5046
Epoch 2/150
285/285 [==============================] - 0s 944us/step - loss: 0.6931 - accuracy: 0.5053
Epoch 3/150
285/285 [==============================] - 0s 997us/step - loss: 0.6931 - accuracy: 0.4994
Epoch 4/150
285/285 [==============================] - 0s 943us/step - loss: 0.6931 - accuracy: 0.5017
Epoch 5/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4997
Epoch 6/150
285/285 [==============================] - 0s 913us/step - loss: 0.6931 - accuracy: 0.4994
Epoch 7/150
285/285 [==============================] - 0s 862us/step - loss: 0.6931 - accuracy: 0.5064
Epoch 8/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5010
Epoch 9/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5007
Epoch 10/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4976
Epoch 11/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5049
Epoch 12/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5043
Epoch 13/150
285/285 [==============================] - 0s 835us/step - loss: 0.6931 - accuracy: 0.5052
Epoch 14/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4996
Epoch 15/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5061
Epoch 16/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5062
Epoch 17/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4992
Epoch 18/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5063
Epoch 19/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5014
Epoch 20/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5061
Epoch 21/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5054
Epoch 22/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5012
Epoch 23/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5049
Epoch 24/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5046
Epoch 25/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4982
Epoch 26/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5045
Epoch 27/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5061
Epoch 28/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4979
Epoch 29/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5059
Epoch 30/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5035
Epoch 31/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5007
Epoch 32/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5041
Epoch 33/150
285/285 [==============================] - ETA: 0s - loss: 0.6931 - accuracy: 0.50 - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5030
Epoch 34/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5008
Epoch 35/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5087
Epoch 36/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5039
Epoch 37/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5025
Epoch 38/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5057
Epoch 39/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5037
Epoch 40/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4993
Epoch 41/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4958
Epoch 42/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5009
Epoch 43/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5048
Epoch 44/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5026
Epoch 45/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5021
Epoch 46/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5038
Epoch 47/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5031
Epoch 48/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5025
Epoch 49/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5051
Epoch 50/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5008
Epoch 51/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5075
Epoch 52/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4970
Epoch 53/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4994
Epoch 54/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5031
Epoch 55/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5085
Epoch 56/150
285/285 [==============================] - 1s 3ms/step - loss: 0.6931 - accuracy: 0.4997
Epoch 57/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5034
Epoch 58/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5064
Epoch 59/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5006
Epoch 60/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5051
Epoch 61/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5063
Epoch 62/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5051
Epoch 63/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5028
Epoch 64/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5028
Epoch 65/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5076
Epoch 66/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5073
Epoch 67/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5040
Epoch 68/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5092
Epoch 69/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5104
Epoch 70/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5072
Epoch 71/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5014
Epoch 72/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5075
Epoch 73/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5004
Epoch 74/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5040
Epoch 75/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5039
Epoch 76/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5050
Epoch 77/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5050
Epoch 78/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5045
Epoch 79/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5073
Epoch 80/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5050
Epoch 81/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5054
Epoch 82/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5070
Epoch 83/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5075
Epoch 84/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5072
Epoch 85/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5073
Epoch 86/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5058
Epoch 87/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5036
Epoch 88/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5063
Epoch 89/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5018
Epoch 90/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5016
Epoch 91/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5048
Epoch 92/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4981
Epoch 93/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5036
Epoch 94/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5032
Epoch 95/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5023
Epoch 96/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5047
Epoch 97/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5056
Epoch 98/150
285/285 [==============================] - 1s 3ms/step - loss: 0.6931 - accuracy: 0.5021
Epoch 99/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5046
Epoch 100/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5059
Epoch 101/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5025
Epoch 102/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5036
Epoch 103/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5076
Epoch 104/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5034
Epoch 105/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5002
Epoch 106/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4984
Epoch 107/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5053
Epoch 108/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5017: 0s - loss:
Epoch 109/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.4999
Epoch 110/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4994
Epoch 111/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5023
Epoch 112/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4980
Epoch 113/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4965
Epoch 114/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4976
Epoch 115/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5041
Epoch 116/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4991
Epoch 117/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5018
Epoch 118/150
285/285 [==============================] - 1s 3ms/step - loss: 0.6931 - accuracy: 0.4979
Epoch 119/150
285/285 [==============================] - 1s 3ms/step - loss: 0.6931 - accuracy: 0.5026
Epoch 120/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5001
Epoch 121/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.4995
Epoch 122/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4968
Epoch 123/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5041
Epoch 124/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5026
Epoch 125/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4990
Epoch 126/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5049
Epoch 127/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.4950
Epoch 128/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.4992
Epoch 129/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5005
Epoch 130/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4985
Epoch 131/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4993
Epoch 132/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4998
Epoch 133/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5024
Epoch 134/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4992
Epoch 135/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5071
Epoch 136/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4994
Epoch 137/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5009
Epoch 138/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.4990
Epoch 139/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5010
Epoch 140/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5003
Epoch 141/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4987
Epoch 142/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5015
Epoch 143/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.5010
Epoch 144/150
285/285 [==============================] - 0s 1ms/step - loss: 0.6931 - accuracy: 0.4994
Epoch 145/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4973
Epoch 146/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5024
Epoch 147/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5029
Epoch 148/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.4979
Epoch 149/150
285/285 [==============================] - 1s 2ms/step - loss: 0.6931 - accuracy: 0.5026
Epoch 150/150
285/285 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.4991